env/
data/images/

checkpoints/*.pt

*.egg-info
*.zip
*.idea
*.DS_Store
*.ipynb_checkpoints
*.pyc
*__pycache__

# Secret Environment Variables
.env*

# Output
_results
.venv/
**/.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
wandb/
results/
outputs/
_results/
.cache/
.venv/
**/.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
wandb/
results/
outputs/
_results/
.cache/

# ignore virtual envs
.venv/
.cradle_venv/
